/* chat bubles */

#messages_inside{
    position:absolute; 
    top:0; 
    right: 0;
  }
  
  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .right {
      flex-flow: row-reverse;
      text-align: right; }
    
    .left {
      flex-flow: row;
      text-align: left; }
    
    .msg-div {
      font-family: 'Montserrat', sans-serif;
      padding: 10px;
      font-size: 24px;
      display: flex; }
    
    .name {
      font-size: 15px;
      color: black; }
    
    .msg {
      word-wrap: break-word; 
      color: #000;
    }
    
    .profile-img {
      float: right;
      height: 10px;
      width: auto;
      border-radius: 50px; }
    
    .date {
      padding-top: 5px;
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      color: #bcb7b7; }
    
    
      /* Bubbles */
    /* container */
    .container {
      padding: 5% 5%; }