@import '_partial.scss';

.icons-container{
    display: flex;
    justify-content: center;
}

.google-icon{
    margin-right: 100px;
}

.signin-btn{
    width: 100vw;
    padding: 20px;
    border: none;
    color: white;
    background-color: #f8cd1f;
}