body { 
    /* background-color: #7d7773;  */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
  
.back-icon{
    display: flex;
    align-self: flex-start;
}

.logo{
    margin: 11px;
    width: 314px;
    height: auto;
}

.icons-container{
    display: flex;
    justify-content: center;
}

.google-icon{
    margin-right: 100px;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#email-in{
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    width: 50%;
    color: #439ef7;
}

#pass-in{
    /* margin-top: 20px; */
    margin-bottom: 55px;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    width: 50%;
    color: #439ef7;
}

#signin-btn{
    width: 100vw;
    padding: 20px;
    border: none;
    color: white;
    background-color: #f8cd1f;
}

#signup-btn{
    width: 100vw;
    padding: 20px;
    border: none;
    color: white;
    background-color: #7d7773;
}

.btn{
    width: 100vw;
}
